* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./file-storage/assets/img/lemonade.png);
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px); 
    z-index: -1; 
}

.audio__wrapper {
    width: 250pt;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    border: 1px black solid;
    background-color: silver
}

.songImg {
    width: 103%;
    transition: 1s;
    object-fit: cover;
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
   
}

p {
    font-family: 'Montserrat', sans-serif;
}

.play img {
    width: 50px;
}

button {
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
}

button img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.buttons {
    display: flex;
    flex-direction: column;
}

.button {
    width: 40px;
    height: 40px;
}


.progress-container {
    width: 180px;
    margin: 0 auto;
}

input {
    width: 100%;
}

.duration {
    text-align: right;
    color: rgb(193, 255, 6);
}

.time {
    color: black
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent;
  
    position: absolute;
    bottom:0;
    width: 100%;
}

.footer__link {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.footer__img {
    height: 30px;
    width: 30px;
}